.home-wrap{
  background-image: url('../../../assets/mars-background-wallpaper.jpg');
  background-position-x: 47%;
  background-position-y: 33%;
  font-size: 18px;
  height: 100vh;
}

h1, h2{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-align: center;
}
h1{
  font-size: 2.5rem;
  padding-top: 13vh;
  text-transform: uppercase;
}
h2{
  font-size: 2rem;
  padding-top: 35vh;
}
main {
  display: flex;
  justify-content: center;
}


